body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


header{
    background-image: url(../img/jumbo.png);
    height: 560px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}


nav{
    display: inline-block;
}

nav>ul {
    list-style-type: none;
}

nav>ul>li {
    display: inline-block;
    margin-left:20px;
}

ul>li>a{
    text-decoration: none;
    color: white;
}

button{
    border-radius: 15px;
    padding:10px;
    border: none;
}

footer{
    background-color: black;
    color: white;
}

.footer-column>ul{
    list-style-type:none;
}

#star-adventure{
    padding-top: 20px;
    background-image: url(../html-link/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#last-section{
    margin-bottom: 100px;
}

.content-dimensions{
    max-width: 1200px;
    margin: 0 auto;
}

.logo img{
    vertical-align: middle;
}

.logo{
    display: inline-block;
    margin-right: 200px;
}


.topbar{
    height: 100px;
    padding-top: 20px;
}

.login{
    display: inline-block;
    margin-left: 200px;
}

.header-text{
    text-align: center;
    padding-top: 50px;
}

.black-button{
    background-color: black;
    color: white;
}

.row{
    padding-top: 150px;
}

.big-row{
    text-align: center;
}

.little-row{
    width: 80%;
    margin:0 auto;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

.img-column{
    width: 60%;
}

.text-column{
    width: 39%;
}

.violet-button{
    background-color: rgb(146, 130, 238);
    color: white;
}

#download-arrow{
    font-weight: bold;
}

.header-text>h1 {
    font-size:2em;
}

.blue-text{
    color: blue;
}

.footer-column>h4{
    color:blue;
    padding-left: 40px;
}

.main-footer .footer-column{
    width: 20%;
}

.main-footer .footer-column a{
    line-height: 1.5em;
}

.bottom-footer{
    padding-top: 30px;
    height: 50px;
}

#footer-logo{
    display: inline-block;

}

#footer-button{
    display: inline-block;
}