body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


header{
    background-image: url(../img/jumbo.png);
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
}



li{
    display: inline-block;
}

li>a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    position: relative;
    top:20px
}

#header-content{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#nav-logo{
    position: absolute;
    left:0;
    top:15px;
}

button{
    border-radius: 20px;
    padding: 10px;
    border:none;
}

.nav-button{
    position: absolute;
    right: 0;
    
}

h2{
    font-size: 3em;
}

.header-text{
    max-width: 60vw;
    margin:0 auto;
    margin-top: 10vw;
    color:white;
}

#download-discord{
    background-color: white;
    color: black;
    padding: 10px 15px;
}

#browser-discord{
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px 15px;
}

#download-arrow{
    font-weight: bold;
    font-size: 1.2em;
}

.section-dimensions{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.left{

    float:left;
}

.right{

    float:right;
}

h3{
    font-size: 2em;
    font-weight: bold;
}

#last-section{
    text-align: center;
}

.end-button{
    color: white;
    background-color: turquoise;
}
